a:hover {
  text-decoration: none;
}

body {
  font-family: 'Notable', sans-serif;
  background-color: grey;
}

h1 {
  font-family: 'Notable', sans-serif;
  color: orange;
  font-size: 130px;
  text-shadow: 2px 2px 0px black, 0 0 1em black, 0 0 0.2em black;
  font-weight: bold;

}

h2 {
 font-family: 'Notable', sans-serif;
}

h3 {
  font-family: 'Notable', sans-serif;
  color: black;
  margin-top: 1em;
}

.text-new {
  color: black;
}

.index-title h2 {
  font-size: 63px;
  color: black;
  margin-top: 1em;
  text-decoration: underline;
  text-shadow: 2px 2px #646464;
}
