a:hover {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: grey;
}

h1 {
  color: white;
  font-size: 7em;
}

h2 {
 font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin-top: 1em;
}

.text-new {
  color: black;
}

.index-title h2 {
  font-size: 63px;
  color: black;
  margin-top: 1em;
  text-decoration: underline;
  text-shadow: 2px 2px #646464;
}
